body{
  font-family: calibri, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  float: left;
  margin: 0;
  background-color: #333;
}

.subtitle{
    font-family: "Trebuchet MS", monospace;
    font-size: 20px;
}

/* title ==================================================================== */

#title{
    background-color: #fbae00;
    height: 80px;
    font-family: "Trebuchet MS", monospace;
    width: 1306px;
    padding: 30px;
    font-size: 20px;
    color: white;
    float: left;
}

div.title-text{
    color: #fbae00;
    background-color: white;
    margin: 0 0 1px 0;
    width: 150px;
}

span.title-text{
    color: white;
    background-color: #fbae00;
    padding: 0 2px 0 0;
}

/* reta ===================================================================== */

#reta{
    background-color: #eee;
    width: 1306px;
    padding: 30px;
    float: left;
}

.streta{
    background-color: #39589a;
    color: white;
    margin: 0 0 20px 0;
}

.reta-st{
    margin: 0 0 30px 0;
}

.reta-tb{
    border: solid 1px;
    border-color: #39589a;
    float: left;
}

.reta-td{
    padding: 5px;
    color: white;
    text-align: center;
    color: black;
}

.inp-reta{
    width: 30px;
}

div.reta-eq{
    padding: 20px;
    width: 300px;
    float: left;
    background-color: #eee;
}

span.reta-eq{
    font-weight: bold;
}

.reta-eq-placeh{
    height: 25px;
    padding: 7px;
    border: solid 1px;
    border-color: #39589a;
    float: left;
}

#reta-eq{
    font-size: 18px;
    color: #39589a;
    text-decoration: underline;
}

#reta-eq-err{
    font-size: 18px;
    color: white;
    background-color: #da5353;
    text-decoration: underline;
}

/* teste ==================================================================== */

#teste{
    background-color: white;
    float: left;
    padding: 30px;
    width: 1306px;
    visibility: hidden;
}

.teste-tb{
    border: solid 1px;
    border-color: #338984;
    float: left;
}

.teste-td{
    padding: 5px;
    color: white;
    text-align: center;
    color: black;
}

.inp-teste{
    width: 30px;
}

.stteste{
    background-color: #338984;
    color: white;
    margin: 0 0 20px 0;
}

.teste-st{
    margin: 0 0 30px 0;
}

#teste-rst{
    font-size: 18px;
    color: #338984;
    text-decoration: underline;
}

/* bottom =================================================================== */

#bottom{
    background-color: #333;
    width: 1306px;
    padding: 40px 0 0 30px;
    color: white;
    float: left;
}

.bottom-text{
    font-weight: lighter;
    color: #fbae00;
}

.bottom-a{
    color: white;
}

/* faz os botoes do input number sumir ====================================== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
